body {
    margin: 0;
    padding: 0;
}

/* ESTILOS INDEX.HTML */

#inicio-container {
    background-color: #f8f9fa;
}

.hover-card {
    transition: all 0.3s ease;
}

.hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

section.bg-dark {
    background: linear-gradient(135deg, #1b1b1b, #343a40);
}